@CHARSET "UTF-8";



.background{
	
	 width:100%;
	height:100%;
	  text-align:center;
	
	position:absolute;
	
}

.login-form{
	
	
	background-color: #ffffff;
   	opacity:0.95;
	width:17%;
	height:45%;
	border-radius:5px;
    margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	padding-top:20px;
	
	
}

.first-wrap{

	
}


.logo{
	
	width:90%;
	height:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top:9px;
	
	
}
body {overflow:hidden}


.social-login{
	
	background:#f3f3f3;
	color:black;
	font-size:8px;
	padding-top:9px;
	padding-bottom:9px;
	width:90%;
	height:100px;
	margin-top:5px;
	margin-left:15px;
	
	
	
}
.enterPhone{
	
	margin-top:20px;
	padding:10px;
	padding-right:80px;
	
	
}
.enterpassword{
	
	padding:10px;
	padding-right:80px;
	
}

.nextbtn{
	
	background:#3385ff;
	color:white;
	border:none;
	margin-top:10px;
	padding: 10px 113px;
	margin-bottom:5px;
	
	
}


.naver{
	margin-top:10px;
	display:block;
	float:left;
	width:30%;
	height:50%;
	
	margin-left:15px;
	
}
.facebook{
	
	margin-top:10px;
	display:block;
	float:left;
	width:30%;
	height:50%;
	
	
}
.check-phone, .check-pwd{
	
	color:white;
	margin-left:20px;
	width:80%;
	padding:10px 10px; 
	border:none;
	background:rgba(0,0,0,.3); 
	font-size:12px;
	margin-top:3px;
	border-radius:3px;
}




.google{
	
		margin-top:10px;
	display:block;;
	float:right;
	width:30%;
	height:50%;
	
	margin-right:10px;
	
	
}