@CHARSET "UTF-8";



.background{
	
	 width:100%;
	height:100%;
	  text-align:center;
	
	position:absolute;
	
}

.login-form{
	
	
	background-color: #ffffff;
   	opacity:0.95;
	width:17%;
	height:45%;
	border-radius:5px;
    margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	padding-top:20px;
	
	
}

.logo{
	
	width:90%;
	height:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top:9px;
	
	
}
.enter{
	
	background:#3385ff;
	opacity:1;
	color:white;
	width:90%;
	padding-top:8px;
	padding-bottom:8px;
	margin-top:30px;
	margin-left:15px;
	border-radius:3px;
	
}

.login{
	border-radius:3px;
	background:black;
	opacity:0.7;
	color:white;
	width:90%;
	padding-top:8px;
	padding-bottom:8px;
	margin-top:5px;
	margin-left:15px;
	
	
}


body {overflow:hidden}
.social-login{
	
	background:#f3f3f3;
	color:black;
	font-size:8px;
	padding-top:9px;
	padding-bottom:9px;
	width:90%;
	height:30%;
	margin-top:20px;
	margin-left:15px;
	
	
	
}


.naver{
	margin-top:10px;
	display:block;
	float:left;
	width:30%;
	height:50%;
	
	margin-left:15px;
	
}
.facebook{
	
	margin-top:10px;
	display:block;
	float:left;
	width:30%;
	height:50%;
	
	
}


.google{
	
		margin-top:10px;
	display:block;;
	float:right;
	width:30%;
	height:50%;
	
	margin-right:10px;
	
	
}
