@CHARSET "UTF-8";


.total-wrap{
	
	width:80%;
	height: 800px;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:90px;	
	
	
	
}

body{
	
	background:#fafafa;
	
}

.total-left{
	margin-left:60px;
	width:25%;
	height: 100%;

	float:left;	
	
}
.total-right{
	
	width:50%;
	height:100%;
	
	float:right;
	margin-right:230px;
}

.profile-wrap{
	
	width:100%;
	height:40%;
	
    border: 1px solid #dad8de;
	
	
}

.profile{
	
	
	width:80%;
	margin-left:auto;
	margin-right:auto;
	height:70%;
	
	text-align:center;  
	
}


.profile-photo{
	width: 50%;
	margin-top:50px;
	
	
}


.price-wrap{
	border:1px solid #dad8de;
	width:100%;
	height:10%;

	text-align:center;
}

.price-wrap2{
	
	width:30%;
	height:50%;
	
	margin-left:auto;
	margin-right:auto;
	
}

.price-wrap font{
	
	margin-top:15px;
	
	
}


.benefit-wrap{
	
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:35%;
	border:1px solid #dad8de;
	padding: 0 35px;
}
.choice-wrap{
	background:white;
	width:100%;
	height:80%;

	
}
.notice-wrap{
	
	margin-left:auto;
	margin-right:auto;
	width:95%;
	height:60px;

	
}
.price-choice{
	
	width:95%;
	height:40%;

	margin-left:auto;
	margin-right:auto;
	
}

.right-price-wrap{
	
	float:left;
	border:1px solid gray;
	width:18%;
	height:40%; 
	margin-left:80px;
	

}

.pickme{
	
	margin-left:15px; 
	border:none;

	
}
