<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mainboard">
  
  <resultMap id="treeResultMap" type="Tree">
    <id column="TREE_NO" property="treeNo"/>
    <result column="TREE_AFTER" property="treeAfter"/>
    <result column="TREE_TAG" property="treeTag"/>
  </resultMap>
  
  <resultMap id="detailMap" type="Detail">
    <id column="TREE_NO" property="treeNo"/>
    <result column="TREE_AFTER" property="treeAfter"/>
    <result column="USER_ID" property="userId"/>
    <result column="TREE_TAG" property="treeTag"/>
    <result column="TREE_TYPE" property="treeType"/>
    <result column="TREE_DATE" property="treeDate"/>
    <result column="BOARD_TITLE" property="boardTitle"/>
    <result column="TREE_COUNT" property="treeCtn"/>
    
  </resultMap>
  
  
  
  <select id="test" resultMap="treeResultMap">
    SELECT R2.*
    FROM(SELECT ROWNUM RNUM, R1.* 
         FROM(SELECT TREE_NO, TREE_AFTER, TREE_TAG
              FROM TREE 
              ORDER BY DBMS_RANDOM.VALUE) R1) R2
    WHERE RNUM BETWEEN 1 AND 42
    
  </select>
  
  <select id="paging" parameterType="java.util.List" resultMap="treeResultMap">
    SELECT R2.*
    FROM(SELECT ROWNUM RNUM, R1.* 
         FROM(SELECT TREE_NO, TREE_AFTER, TREE_TAG
              FROM TREE 
              WHERE TREE_NO NOT IN 
              <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
              </foreach>
              ORDER BY DBMS_RANDOM.VALUE) R1) R2
    WHERE RNUM BETWEEN 1 AND 42
     
      
  </select>
  
  <select id="detail" parameterType="java.lang.String" resultMap="detailMap">
    SELECT T.TREE_NO, T.TREE_AFTER, M.USER_ID, T.TREE_TAG, T.TREE_TYPE, T.TREE_DATE, B.BOARD_TITLE, COUNT(S.TREE_NO) TREE_COUNT
    FROM TREE T
    LEFT JOIN MEMBER M ON(T.USER_NO = M.USER_NO)
    LEFT JOIN STORE S ON(T.TREE_NO = S.TREE_NO)
    LEFT JOIN BOARD B ON(S.BOARD_NO = B.BOARD_NO)
    GROUP BY (T.TREE_NO, T.TREE_AFTER, M.USER_ID, T.TREE_TAG, T.TREE_TYPE, T.TREE_DATE, B.BOARD_TITLE)
    HAVING T.TREE_NO = #{treeNo}
  </select>

</mapper>